:host {

  & > div {
    width: 100%;
    height: 100%;
    position: relative;

    & > div {
      width: 100%;
      height: 100%;
    }
  }

  .wv-tooltip {
    max-width: 300px;

    div {
      word-wrap: anywhere;
    }
  }

  .discovery-chart-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 900;
  }
}
