@import "src/components/vars";

:host {
  display: block;

  .discovery-input {
    margin: .25rem .125rem;
    display: inline-block;
    line-height: 1.5;
    font-size: var(--warp-view-button-font-size, 1rem);
    border-radius: var(--warp-view-input-border-radius, 0.25rem);
    border: 1px solid var(--warp-view-input-border-color, $w10-lightgrey);
    vertical-align: middle;
    width: 100%;
  }

  .discovery-input-wrapper {
    display: flex;
    flex-direction: row;
  }

  button.discovery-btn {
    margin: .25rem .125rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: var(--warp-view-button-font-size, 1rem);
    border: 1px solid var(--warp-view-button-border-color, $w10-blue);
    padding: var(--warp-view-button-padding, .375rem .75rem);
    color: var(--warp-view-button-label-color, $w10-white);
    background-color: var(--warp-view-button-bg-color, $w10-blue);
    min-width: var(--warp-view-button-width, auto);
    border-radius: var(--warp-view-button-border-radius, 0.25rem);
  }
}
