@import "../vars";

:host {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .display-container {
    text-align: center;
    height: calc(100% - 20px);
    width: 100%;
    justify-items: stretch;
    min-height: 100%;
    justify-content: center;
    display: flex;
    overflow: hidden;
    color: var(--warp-view-font-color, $w10-black);

    img {
      max-width: 100% !important;
    }

    .value {
      padding: 10px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      align-self: center;

      span {
        min-height: 100%;
      }

      small {
        font-size: 0.5em;
      }
    }
  }
}
