<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Stencil Component Starter</title>
    <script type="module" src="/build/discovery.esm.js"></script>
    <script nomodule src="/build/discovery.js"></script>
  </head>
  <body>
  <div style="width: 80%; height: 500px;">
    <discovery-tile url="https://warp.senx.io/api/v0/exec" type="line">
      @training/dataset0 $TOKEN AUTHENTICATE 100000000 MAXOPS
      1 4 <% NEWGTS 'g' STORE
      1 10000 <% 'ts' STORE $g $ts RAND + STU * NOW + NaN NaN NaN RAND ADDVALUE DROP %> FOR
      $g %> FOR
    </discovery-tile>
  </div>
  </body>
</html>
